/* .yuno-payment-list{
    background-color: blueviolet;
} */


/* .yuno-payment-list__radio-pse{
    background-color: chartreuse !important;
}

.yuno-payment-list__radio-card{
    background-color: salmon !important;
}

.yuno-payment-list__payment-method{
    background-color: darkgoldenrod !important;
    font-size: small !important;
    height: 20px;
} */
