#button-pay {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;

  width: 303px;
  height: 54px;

  background: #632DBB;
  border-radius: 4px;

  margin: auto;

  font-family: 'Inter', 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */

  text-align: center;

  /* Neutral/W */

  color: #FEFEFE;
}

.list-group {
  max-width: 50%;
  margin: auto;
  margin-top: 100px;
}
