#button-pay {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;

  width: 303px;
  height: 54px;

  background: #632DBB;
  border-radius: 4px;

  margin: auto;

  font-family: 'Inter', 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */

  text-align: center;

  /* Neutral/W */

  color: #FEFEFE;
}

#button-pay:disabled {
  cursor: not-allowed;
  background: gray;
}

#button-pay:active {
  transform: translateY(1px);
}

.list-group {
  max-width: 50%;
  margin: auto;
  margin-top: 100px;
}

#root {
  background-color: white;
  max-width: 450px;
  margin: 0px auto;
  border-radius: 10px;
  padding: 30px;
  box-sizing: border-box;
  margin: 30px auto;
}

body {
  background-color: #F8FAFC;
}